<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
        <h2>Detalle </h2>
        <div class="container">
            <img src="<%= persona.profile%>" alt="perfil">
            <p>
                Nombre:
                <%= persona.name %> <br> Apellido:
                    <%=   persona.surname%> con correo electrónico <br> Email:
                        <%= persona.email %>
            </p>
            <a href=""> Subir imagen </a>
        </div>

</body>

</html>